// Primary Colors
$primary: #0B2351;
$primary-bg: #DAE5FF;
$secondary: #B79531;
$black: #000000;
$white: #ffffff;
$text: #737791;
$link: #1E4AE9;
$bg-links: #F3F9FA;
$bg: #F7FBFF;
$border: #D4D7E3;
$green: #007D3A;
$blue-light: #151D48;
$subTitle: #313957;
$divider: #CFDFE2;
$text-secondary:#8897AD;
$red:#EB5757;



// fonts added 

$primary-font: 'Montserrat';
$secondary-font: 'Sawarabi Mincho';

// Font Weights
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;




// Animations
$transition-speed: 0.5s;
$fade-in: fadeIn 0.5s ease-in-out;